.intro {
    margin-top: 10%;
    display: flex;
}

.intro>p {
    padding: 5vh;
    border: var(--clr1) solid;
    border-radius: 30px;
    max-width: 20vh;
    margin-left: auto;
    margin-right: auto;
}

.que {
    font-size: 23px;
    font-weight: bold;
    color: var(--clr1);
}

.photo {
    display: grid;
    grid-template-columns: 40% 45%;
    column-gap: 5%;
    max-width: 150vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    align-items: center;
    font-size: 5vh;
}

.photo>img {
    border: white solid;
    border-radius: 30px;
}

.bold_color {
    font-weight: bold;
    color: var(--clr1);
}

.bold_color_ap {
    font-weight: bold;
    color: var(--clr1);
    font-size: 5vh;
}

main {
    position: relative;
    top: 5vh;
}

.a_propos>h2 {
    font-size: 10vh;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 2px white;
    -webkit-text-fill-color: transparent;
    font-style: italic;
    margin-left: 5vh;
}


.a_propos>p {
    margin-left: 9vh;
    font-size: 3vh;
}

.a_propos {
    max-width: 110vh;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    border: white solid;
    border-radius: 30px;
}

.arrow_me {
    margin-left: 10%;
    margin-bottom: 20%;
}

.lien_index:any-link,
.ext_link:any-link {
    padding: 1% 2% 1% 2%;
    border-radius: 30px;
    color: black;
    background-color: white;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

.lien_index:hover,
.ext_link:hover {
    background: #348EC7;
    color: white;
    transition: 0.2s;
}

.liens {
    display: flex;
}

